body {
    padding: 0px;
    margin: 0px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    
    /* Safari */
    
    /* Konqueror HTML */
    
    /* Firefox */
    
    /* Internet Explorer/Edge */
    
    /* Non-prefixed version, currently*/
    background-color: #f6f6f6;
}

.page {
    display: none;
}

p{
    margin:0px;
}
:root {
    --mdc-theme-primary: #9E9E9E;
    --mdc-theme-secondary: #616161;
    --mdc-theme-background: #f6f6f6;
    --mdc-theme-surface: #ffffff;
    --mdc-theme-on-primary:#616161;
}

.dark-font{
    color:#616161;
}
.primary-background{
    background: #9E9E9E;
}
.primary-dark-background{
    background: #616161;
}
.accent-background{
    background: #616161;
}

.letter-count{
    margin-right:16px;
    font-weight: 500;
}


[contenteditable]:focus {
    outline: 0px solid transparent;
}

.mdc-menu {
    z-index: initial;
    right: 20px !important;
    top: 20px !important;
}

.content-container{
    min-height:720px;
    padding:32px;
    padding-right:60px;
    background: #EFE7CE;
}


.fav-desktop {
    position: fixed;
    left:50%;
    top:375px;
    margin-left:330px;
}

#title{
    margin-top:60px;
    margin-bottom:60px;
    font-family:zapfino,Cambria,cursive;
    font-weight: bold;
}

#content{
    font-family:zapfino,Cambria,cursive;
    font-weight: bold;
    line-height: 2.4em;
}

#author {
    margin-top:60px;
    font-family: zapfino, Cambria, cursive;
    font-weight: bold;
    line-height: 2.4em;
}
#title-placeholder{
    pointer-events: none;
    color: rgba(0, 0, 0, 0.4);
}

#content-placeholder{
    pointer-events:none;
    color: rgba(0, 0, 0, 0.4);
}

div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: #b3b3b3;
}




.inline-card{
    display: inline-block;
    width: 48%;
}

.count-inline-card{
    display: inline-block;
    width:25%;
}
.count-inline-card-first {
    display: inline-block;
    width: 35%;
}
.count-inline-card-first-top {
    display: inline-block;
    width: 48%;
}
.count-inline-card-top {
    display: inline-block;
    width: 22%;
}

.views-inline-card-first {
    display: inline-block;
    width: 42%;
}

.views-inline-card {
    display: inline-block;
    width: 25%;
    padding-left:5px;
}

.count{
   color:#06E26B;
   opacity: 1 !important;
}




.progressbar {
    position: fixed;
    top: 0px;
    z-index: 5;
}

.later {
    display: none;
    z-index: 1;
}

.mdc-menu {
    z-index: initial;
    right: 20px !important;
    top: 20px !important;
}

.top-app-background {
    height: 400px;
    position:fixed;
    width:100%;
}

.demo-grid {
    margin-bottom: 32px;
}

.demo-cell {
    box-sizing: border-box;
    height: 200px;
    font-size: 1.5em;
}

.footer-cell {
    box-sizing: border-box;
    font-size: 1.5em;
}

.demo-parent-cell {
    position: relative;
}

.demo-parent-cell>span {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 1.5em;
}

.demo-child-cell {
    position: relative;
}

.demo-child-cell>span {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.demo-grid.max-width {
    max-width: 1280px;
}

.demo-grid-legend {
    margin: 16px 0 8px 0;
}

.demo-ruler {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    margin: 0;
    background: black;
}

.demo-controls {
    display: none;
    margin-bottom: 8px;
}

.demo-warning::after {
    content: "This browser does not support custom properties, so margins and gutters cannot be changed at runtime.";
}

.hero {
    position: relative;
    top: 200px;
    max-width: 770px;
    margin: 0 auto;
}

.examples {
    margin: 24px;
}

.hero .demo-grid {
    min-width: 340px;
}

.hero .demo-cell {
    height: auto;
}

.demo-card {
    min-width:340px;
}

.demo-card__primary {
    padding: 1rem;
}

.demo-card__title {
    margin: 0;
}

.demo-card__subtitle {
    margin: 0;
}

.demo-card__number {
    margin: 0;
    margin-top: 15px;
}

.demo-card__secondary {
    padding: 0 1rem 8px 1rem;
}

.demo-card-article-group-heading {
    padding: 8px 16px;
}

.grid {
    /*grid-auto-rows: 40px;*/
}

.top-margin-content {
    margin-top: 16px;
}

.top-app-bar {
    position: fixed;
    z-index: 1;
}

.top-top-app-bar{
    height:24px;
}

.top-app-bar {
    z-index: 5;
}

.app-bar {
    position: fixed;
    z-index: 1;
}

.demo-list--with-avatars .mdc-list-item__graphic {
    color: white;
}

.demo-list--with-avatars .mdc-list-item__graphic {
    background-color: rgba(0, 0, 0, 0.38);
}

.main {
    background-color: #f6f6f6;
}

.home-icon {
    margin-left: 20px;
}
.fav-mobile{
    display: none;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1) {

    .main-grid{
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
    .fav-desktop{
        display: none;
    }

    .fav-mobile {
         display: inline-flex;
         position:fixed;
         bottom: 1.5rem;
         right: 1.5rem;
         
    }

}